
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px 20px;
  background-color: #ffffff; // 灰色背景
  color: #333; // 文字颜色
  .logo {
    margin-left: 50px;
    font-family: 'MyLogoFont2', sans-serif;
    color: #336699; // Adjusted color
    font-size: 1.5rem;
    font-weight: bold;
  }
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
// 其他样式保持不变...

.navItem {
  // ... 其他样式保持不变
  position: relative;
  margin-right: 20px;
  padding: 5px 10px;
  color: #666; // 灰色文字
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #1890ff; // 鼠标悬浮时蓝色
  }

  &.active {
    color: #1890ff; // 选中状态下的文字颜色
  }

  svg {
    margin-right: 8px;
    vertical-align: middle;
  }

  &:last-child {
    margin-right: 0;
  }
}

.selectionBar {
  height: 3px;
  background-color: #1890ff;
  position: absolute;
  bottom: -3px; // 调整位置，使其位于元素底部
  left: 0;
  width: 0; // 默认宽度为0
  transition: width 0.3s ease;
}

.navItem.active .selectionBar {
  width: 100%; // 选中状态下的宽度为100%
}