.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f8ff;
}

.logo {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #f0f8ff;
  height: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'MyLogoFont', sans-serif;
  color: #003366;
  font-size: 2.5rem;
  font-weight: bold;
}

.card {
  width: 30%;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: auto;
  align-items: center;
  border-radius: 20px; /* 设置圆角 */
  overflow: hidden; /* 隐藏溢出的内容 */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* 添加过渡效果 */
  align-items: center;
  &:hover { /* 当鼠标悬停在卡片上时 */
    transform: translateY(-5px); /* 轻微上移 */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25); /* 增加阴影大小 */
  }
  h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
  }
}

.infoGroup {
  margin-bottom: 15px;
  p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
}

.inputGroup {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;

  label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    text-align: left;
  }

  input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.resetbutton {
  padding: 10px 20px;
  border: none;
  align-items: center;
  font-size: 16px;
  display: block;
  border-radius: 20px;
  background-color: #1890ff;
  color: #ffffff;
  width: 60%;
  margin-top: 10px;
  margin-left: 100px;
  cursor: pointer;
  &:hover {
    background-color: #003366;
  }
}