.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 25%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.form {
  font-size: 20px;
  font-weight: bold;
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.infoRow {
  margin-bottom: 16px;
}
