.container {

  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:#eaf0ff;
  width: 100%;
}

.logo {

  align-items: center;
  width: 100%;
  // padding: 10px 20px;
  background-color:#eaf0ff;
  height: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'MyLogoFont', sans-serif;
  color: #006bc9;
  font-size: 2.5rem;
  font-weight: bold;
  span{
    margin-left: 50px;
  }
}

.content {
  padding: 20px;
  background-color:#eaf0ff;
}

@media (max-width: 768px) {
  .content {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 5px;
  }
}