.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: row; /* 修改为行布局，以并排显示 Nav 和 PageContent */
  flex-grow: 1;
  background-color: #f8f9fa;
  height: 94vh;
}
